<div class="container">
<h1>Cocktails Menu</h1>
<p><%= link_to 'Create a new cocktail', new_cocktail_path %></p>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li class="list-group-item"><%= link_to cocktail.name, cocktail_path(cocktail) %>
    	<%= cl_image_tag cocktail.photo.key, width: 150, height: 150, crop: :thumb %>
    </li>
  <% end %>
</ul>
</div>
