<div class="container">
<h1>Cocktails Menu</h1>
<p><%= link_to 'Create a new cocktail', new_cocktail_path %></p>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li class="list-group-item"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
</div>
